
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
title{
    font-family:"EB Garamond";

}
header {
    font-family: "Darker Grotesque";
    background-image: url('coursework/ocean.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}
#head1{
    font-family:"Darker Grotesque";
    font-size:50px;
    font-weight:lighter;
    position:relative;
    bottom:25px;
    right:10px;


}
#head2{
    font-family:"Darker Grotesque";
    font-size:90px;
    font-weight:lighter;
}
#head3{
    font-family:"Darker Grotesque";
    font-size:90px;
    font-weight:bold;

}
h1 {
    color: white;
    text-shadow: 2px 3px 10px black;
    text-transform: uppercase;
    text-align: center;
    margin:0;
}
nav {
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

header li {
    float: left;
    list-style-type: none;
    display: inline;
    text-align: center;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav{
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-left:30%;
    padding-right:30%;
}
#sub_techno{
    display: none;
}
#main{
    padding-left:30%;
    padding-right:30%;
}
li a:hover {
    background-color: lightgrey;
}

.video{
    margin: auto;

}

#img1{
    transform: rotate(-2deg);
    border-style: solid;
    border-color: gray;
    border-width:2px;
    padding: 7px;
    display:inline-block;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
h2{
    font-size: 25px;
    font-family:"special Elite";
}
h3{
    font-family:"special Elite";
}
p{
    font-family:"EB Garamond";
    font-size: 16pt;
}
ul{
    font-family:"EB Garamond";
    font-size: 16pt;
}
table{
    font-family:"EB Garamond";
    font-size: 16pt;
}

.left_figure{
    float:left;
    margin-left:0;
    max-width:300px;
    margin-right:70px;
}
.left_figure > div{
    transform: rotate(-2deg);
    border-style: solid;
    border-color: gray;
    border-width:2px;
    padding: 7px;
    display:inline-block;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.figure_img{
    padding-bottom:20px;
    height:210px;
    width:320px;
}
.right_figure{
    float:right;
    margin-left:0;
    max-width:300px;
    margin-left:50px;
}
.right_figure > div{
    transform: rotate(2deg);
    border-style: solid;
    border-color: gray;
    border-width:2px;
    padding: 7px;
    display:inline-block;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.caption{
    text-align:right;
    color:gray;font-family: 'special Elite';
}
footer{
    text-align:center;
    background-image:url(coursework/ocean.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    font-family: "Darker Grotesque";
    padding:100px;
    font-size:30px;
}
body{
    margin:0;
    padding:0;
}
#table{
border:2px solid;
border-left: 0 solid #000;
border-right: 0 solid #000;
border-collapse:collapse;
}
#table1{
border:2px solid;
border-left: 0px solid #000;
border-right: 0px solid #000;
border-bottom: 0px solid #000;
}
.table2{
    border:1px solid;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-bottom: 0 solid #000";
}
#technology{
        color:blue;
        font-size:40px;
        text-align:center;
        padding-left:10%;
        padding-right:10%;
}
